* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.sameline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1325px) {
  .products_view {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width:1115px) {
  .products_view {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width:960px) {

  /* .products_view {
    grid-template-columns: repeat(2, 1fr) !important;
  } */
  .filter {
    display: none !important;
  }
}

@media screen and (max-width:660px) {
  .products_view {
    grid-template-columns: repeat(1, 1fr) !important;
    display: flex !important;
    align-items: center;
    flex-direction: column !important;
  }
}

@media screen and (max-width:1000px) {
  .sep_pages {
    width: 95% !important;
  }
}

@media screen and (max-width:700px) {
  .nav_tab_text {
    display: none !important;
  }
}